---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/application.css">
  </head>

  <body>
  <div class="sidebar">
    <nav>
      <h1> <a href="/">Evan Typanski</a></h1>
    <ul class="profiles prompt-out">
      <li> Github:
        <a href="https://github.com/evantypanski" target="_blank">
          evantypanski
        </a>
      </li>
      <li> Email:
        <a href="mailto:evantypanski@gmail.com">
        evantypanski@gmail.com
        </a>
      </li>
      <!--
      <li> Linkedin:
        <a href="https://www.linkedin.com/in/evan-typanski/" target="_blank">
          evan-typanski
        </a>
      </li>
      <li> Posts (mirror):
        <a href="https://dev.to/evantypanski">
        dev.to
        </a>
      </li>
      !-->
    </ul>
    </nav>
  </div>
  <div class="content">
    {% if page.title %}
    <h1 class="title"> {{ page.title }} </h1>
    <hr class="titlebar">
    {% endif %}
    {{ content }}
  </div>
  </body>
</html>
