---
---
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <!-- From https://realfavicongenerator.net/ -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <link rel="stylesheet" href="/assets/css/application.css">

    {% feed_meta %}
    {% seo %}
  </head>

  <body>
  <div class="sidebar">
    <nav>
      <h1> <a href="/">Evan Typanski</a></h1>
      <ul class="profiles prompt-out">
      <li> Github:
        <a href="https://github.com/{{site.github_username}}" target="_blank">
          {{site.github_username}}
        </a>
      </li>
      <li> Email:
        <a href="mailto:{{site.email}}">
          {{site.email}}
        </a>
      </li>
      <!--
      <li> Linkedin:
        <a href="https://www.linkedin.com/in/evan-typanski/" target="_blank">
          evan-typanski
        </a>
      </li>
      <li> Posts (mirror):
        <a href="https://dev.to/evantypanski">
        dev.to
        </a>
      </li>
      !-->
    </ul>
    </nav>
    {% if page.toc %}
    <div class="toc-block">
      <h3> Table of Contents </h3>
      {% toc %}
    </div>
    {% endif %}
  </div>
  <div class="content">
    {% if page.title %}
    <h1 class="title"> {{ page.title }} </h1>
    <hr class="titlebar">
    {% endif %}
    {{ content }}
  </div>
  </body>
</html>
