---
---
@import "vars.scss";

.posts-list {
  list-style: none;
  font-family: $monospace-font-stack;
  padding: 0;

  li:before {
    content: '>';
    margin: 0;
    @include respond-to("small") {
      margin: 0 1em;
    }
  }
  li {
    margin: 1em 0;
  }
}
